-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('ADMIN', 'OPERATIONS_CONTROLLER', 'MAINTENANCE_ENGINEER');

-- CreateEnum
CREATE TYPE "Department" AS ENUM ('ENGINEERING', 'TRACTION_DISTRIBUTION', 'SIGNAL_TELECOM', 'OPERATIONS');

-- CreateEnum
CREATE TYPE "AssetType" AS ENUM ('TRACK', 'OHE_LINE', 'SIGNAL', 'TELECOM', 'SWITCH', 'CROSSING', 'BRIDGE');

-- CreateEnum
CREATE TYPE "Criticality" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "DefectSeverity" AS ENUM ('MINOR', 'MAJOR', 'SEVERE', 'CRITICAL');

-- CreateEnum
CREATE TYPE "MaintenanceType" AS ENUM ('PREVENTIVE', 'CORRECTIVE', 'DEFECT_RECTIFICATION', 'OVERHAUL');

-- CreateEnum
CREATE TYPE "TaskStatus" AS ENUM ('PENDING', 'PRIORITIZED', 'SCHEDULED', 'APPROVED', 'ACTIVE', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "TrainType" AS ENUM ('PASSENGER', 'EXPRESS', 'SUPERFAST', 'FREIGHT');

-- CreateEnum
CREATE TYPE "TrafficLevel" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "AvailabilityStatus" AS ENUM ('AVAILABLE', 'BUSY', 'RESTRICTED');

-- CreateEnum
CREATE TYPE "BlockApprovalStatus" AS ENUM ('PROPOSED', 'APPROVED', 'MODIFIED', 'REJECTED');

-- CreateEnum
CREATE TYPE "ConflictType" AS ENUM ('TRAIN_VS_BLOCK', 'GOODS_VS_BLOCK', 'MAINT_VS_MAINT', 'RESOURCE_CONFLICT', 'CORRIDOR_CAPACITY', 'ASSET_LOCK', 'TIME_WINDOW', 'EXISTING_BLOCK');

-- CreateEnum
CREATE TYPE "PlanningHorizon" AS ENUM ('WEEKLY', 'MONTHLY');

-- CreateEnum
CREATE TYPE "PlanStatus" AS ENUM ('DRAFT', 'OPTIMIZED', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('DEFECT', 'CONFLICT', 'APPROVAL', 'SYSTEM');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "UserRole" NOT NULL,
    "department" "Department" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Corridor" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "startStation" TEXT NOT NULL,
    "endStation" TEXT NOT NULL,
    "lengthKm" DOUBLE PRECISION NOT NULL,
    "totalTracks" INTEGER NOT NULL,

    CONSTRAINT "Corridor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Asset" (
    "id" TEXT NOT NULL,
    "assetCode" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "assetType" "AssetType" NOT NULL,
    "department" "Department" NOT NULL,
    "corridorId" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "criticality" "Criticality" NOT NULL,
    "conditionScore" DOUBLE PRECISION NOT NULL,
    "availability" DOUBLE PRECISION NOT NULL,
    "lastMaintenanceDate" TEXT NOT NULL,
    "nextDueDate" TEXT NOT NULL,
    "hasDefect" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Asset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssetDefect" (
    "id" TEXT NOT NULL,
    "assetId" TEXT NOT NULL,
    "defectType" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "severity" "DefectSeverity" NOT NULL,
    "speedRestrictionKmh" INTEGER,
    "reportedAt" TEXT NOT NULL,
    "reportedBy" TEXT NOT NULL,
    "isResolved" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "AssetDefect_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaintenanceTask" (
    "id" TEXT NOT NULL,
    "taskId" TEXT NOT NULL,
    "assetId" TEXT NOT NULL,
    "department" "Department" NOT NULL,
    "maintenanceType" "MaintenanceType" NOT NULL,
    "description" TEXT NOT NULL,
    "defectId" TEXT,
    "priorityScore" DOUBLE PRECISION NOT NULL,
    "criticality" "Criticality" NOT NULL,
    "urgency" "Criticality" NOT NULL,
    "estimatedDurationMinutes" INTEGER NOT NULL,
    "requiredResources" TEXT[],
    "preferredWindowStart" TEXT NOT NULL,
    "preferredWindowEnd" TEXT NOT NULL,
    "deadline" TEXT NOT NULL,
    "status" "TaskStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TEXT NOT NULL,

    CONSTRAINT "MaintenanceTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaintenanceHistory" (
    "id" TEXT NOT NULL,
    "assetId" TEXT NOT NULL,
    "taskId" TEXT NOT NULL,
    "completedAt" TEXT NOT NULL,
    "downtimeMinutes" INTEGER NOT NULL,
    "engineerInCharge" TEXT NOT NULL,
    "remarks" TEXT NOT NULL,

    CONSTRAINT "MaintenanceHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Train" (
    "id" TEXT NOT NULL,
    "trainNumber" TEXT NOT NULL,
    "trainName" TEXT NOT NULL,
    "trainType" "TrainType" NOT NULL,
    "priorityRank" INTEGER NOT NULL,

    CONSTRAINT "Train_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrainSchedule" (
    "id" TEXT NOT NULL,
    "trainId" TEXT NOT NULL,
    "trainNumber" TEXT NOT NULL,
    "trainName" TEXT NOT NULL,
    "trainType" "TrainType" NOT NULL,
    "corridorId" TEXT NOT NULL,
    "origin" TEXT NOT NULL,
    "destination" TEXT NOT NULL,
    "arrivalTime" TEXT NOT NULL,
    "departureTime" TEXT NOT NULL,
    "dayOfWeek" TEXT NOT NULL,
    "isDaily" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "TrainSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GoodsTrainForecast" (
    "id" TEXT NOT NULL,
    "corridorId" TEXT NOT NULL,
    "forecastDate" TEXT NOT NULL,
    "timeSlot" TEXT NOT NULL,
    "expectedTrainsCount" INTEGER NOT NULL,
    "trafficLevel" "TrafficLevel" NOT NULL,

    CONSTRAINT "GoodsTrainForecast_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CorridorAvailability" (
    "id" TEXT NOT NULL,
    "corridorId" TEXT NOT NULL,
    "timeSlot" TEXT NOT NULL,
    "status" "AvailabilityStatus" NOT NULL,
    "trafficDensity" "TrafficLevel" NOT NULL,

    CONSTRAINT "CorridorAvailability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockPlan" (
    "id" TEXT NOT NULL,
    "planName" TEXT NOT NULL,
    "horizonType" "PlanningHorizon" NOT NULL,
    "startDate" TEXT NOT NULL,
    "endDate" TEXT NOT NULL,
    "status" "PlanStatus" NOT NULL DEFAULT 'DRAFT',
    "totalOptimizationScore" DOUBLE PRECISION NOT NULL,
    "metrics" JSONB NOT NULL,
    "beforeMetrics" JSONB,
    "createdAt" TEXT NOT NULL,
    "updatedAt" TEXT NOT NULL,

    CONSTRAINT "BlockPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaintenanceBlock" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "taskId" TEXT NOT NULL,
    "corridorId" TEXT NOT NULL,
    "scheduledStartTime" TEXT NOT NULL,
    "scheduledEndTime" TEXT NOT NULL,
    "durationMinutes" INTEGER NOT NULL,
    "isJointBlock" BOOLEAN NOT NULL DEFAULT false,
    "coordinatingDepts" "Department"[],
    "affectedPassengerTrains" INTEGER NOT NULL DEFAULT 0,
    "affectedGoodsTrains" INTEGER NOT NULL DEFAULT 0,
    "expectedDelayMinutes" INTEGER NOT NULL DEFAULT 0,
    "assetCriticality" "Criticality" NOT NULL,
    "urgency" "Criticality" NOT NULL,
    "conflictsCount" INTEGER NOT NULL DEFAULT 0,
    "optimizationScore" DOUBLE PRECISION NOT NULL,
    "recommendationReason" TEXT NOT NULL,
    "approvalStatus" "BlockApprovalStatus" NOT NULL DEFAULT 'PROPOSED',
    "modifiedBy" TEXT,
    "modifiedAt" TEXT,

    CONSTRAINT "MaintenanceBlock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockConflict" (
    "id" TEXT NOT NULL,
    "blockId" TEXT NOT NULL,
    "conflictType" "ConflictType" NOT NULL,
    "severity" "Criticality" NOT NULL,
    "description" TEXT NOT NULL,
    "affectedEntity" TEXT NOT NULL,

    CONSTRAINT "BlockConflict_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OptimizationWeight" (
    "id" TEXT NOT NULL,
    "assetCriticalityWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.25,
    "maintenanceUrgencyWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.25,
    "trainImpactWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.15,
    "delayWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.15,
    "conflictWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.10,
    "assetDowntimeWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.05,
    "blockUtilizationWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.05,
    "isDefault" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "OptimizationWeight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TEXT NOT NULL,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "userRole" "UserRole" NOT NULL,
    "action" TEXT NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" TEXT NOT NULL,
    "details" TEXT NOT NULL,
    "timestamp" TEXT NOT NULL,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE INDEX "User_department_idx" ON "User"("department");

-- CreateIndex
CREATE UNIQUE INDEX "Corridor_code_key" ON "Corridor"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Asset_assetCode_key" ON "Asset"("assetCode");

-- CreateIndex
CREATE INDEX "Asset_corridorId_idx" ON "Asset"("corridorId");

-- CreateIndex
CREATE INDEX "Asset_department_idx" ON "Asset"("department");

-- CreateIndex
CREATE INDEX "Asset_criticality_idx" ON "Asset"("criticality");

-- CreateIndex
CREATE INDEX "Asset_hasDefect_idx" ON "Asset"("hasDefect");

-- CreateIndex
CREATE INDEX "AssetDefect_assetId_idx" ON "AssetDefect"("assetId");

-- CreateIndex
CREATE INDEX "AssetDefect_severity_idx" ON "AssetDefect"("severity");

-- CreateIndex
CREATE INDEX "AssetDefect_isResolved_idx" ON "AssetDefect"("isResolved");

-- CreateIndex
CREATE UNIQUE INDEX "MaintenanceTask_taskId_key" ON "MaintenanceTask"("taskId");

-- CreateIndex
CREATE INDEX "MaintenanceTask_assetId_idx" ON "MaintenanceTask"("assetId");

-- CreateIndex
CREATE INDEX "MaintenanceTask_department_idx" ON "MaintenanceTask"("department");

-- CreateIndex
CREATE INDEX "MaintenanceTask_status_idx" ON "MaintenanceTask"("status");

-- CreateIndex
CREATE INDEX "MaintenanceTask_criticality_idx" ON "MaintenanceTask"("criticality");

-- CreateIndex
CREATE INDEX "MaintenanceTask_priorityScore_idx" ON "MaintenanceTask"("priorityScore");

-- CreateIndex
CREATE INDEX "MaintenanceHistory_assetId_idx" ON "MaintenanceHistory"("assetId");

-- CreateIndex
CREATE UNIQUE INDEX "Train_trainNumber_key" ON "Train"("trainNumber");

-- CreateIndex
CREATE INDEX "Train_trainType_idx" ON "Train"("trainType");

-- CreateIndex
CREATE INDEX "TrainSchedule_corridorId_idx" ON "TrainSchedule"("corridorId");

-- CreateIndex
CREATE INDEX "TrainSchedule_trainType_idx" ON "TrainSchedule"("trainType");

-- CreateIndex
CREATE INDEX "GoodsTrainForecast_corridorId_idx" ON "GoodsTrainForecast"("corridorId");

-- CreateIndex
CREATE INDEX "GoodsTrainForecast_forecastDate_idx" ON "GoodsTrainForecast"("forecastDate");

-- CreateIndex
CREATE INDEX "CorridorAvailability_corridorId_idx" ON "CorridorAvailability"("corridorId");

-- CreateIndex
CREATE INDEX "BlockPlan_status_idx" ON "BlockPlan"("status");

-- CreateIndex
CREATE INDEX "MaintenanceBlock_planId_idx" ON "MaintenanceBlock"("planId");

-- CreateIndex
CREATE INDEX "MaintenanceBlock_corridorId_idx" ON "MaintenanceBlock"("corridorId");

-- CreateIndex
CREATE INDEX "MaintenanceBlock_approvalStatus_idx" ON "MaintenanceBlock"("approvalStatus");

-- CreateIndex
CREATE INDEX "BlockConflict_blockId_idx" ON "BlockConflict"("blockId");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "Notification"("userId");

-- CreateIndex
CREATE INDEX "Notification_isRead_idx" ON "Notification"("isRead");

-- CreateIndex
CREATE INDEX "AuditLog_userId_idx" ON "AuditLog"("userId");

-- CreateIndex
CREATE INDEX "AuditLog_action_idx" ON "AuditLog"("action");

-- CreateIndex
CREATE INDEX "AuditLog_entityType_idx" ON "AuditLog"("entityType");

-- AddForeignKey
ALTER TABLE "Asset" ADD CONSTRAINT "Asset_corridorId_fkey" FOREIGN KEY ("corridorId") REFERENCES "Corridor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssetDefect" ADD CONSTRAINT "AssetDefect_assetId_fkey" FOREIGN KEY ("assetId") REFERENCES "Asset"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaintenanceTask" ADD CONSTRAINT "MaintenanceTask_assetId_fkey" FOREIGN KEY ("assetId") REFERENCES "Asset"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaintenanceTask" ADD CONSTRAINT "MaintenanceTask_defectId_fkey" FOREIGN KEY ("defectId") REFERENCES "AssetDefect"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaintenanceHistory" ADD CONSTRAINT "MaintenanceHistory_assetId_fkey" FOREIGN KEY ("assetId") REFERENCES "Asset"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainSchedule" ADD CONSTRAINT "TrainSchedule_trainId_fkey" FOREIGN KEY ("trainId") REFERENCES "Train"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainSchedule" ADD CONSTRAINT "TrainSchedule_corridorId_fkey" FOREIGN KEY ("corridorId") REFERENCES "Corridor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GoodsTrainForecast" ADD CONSTRAINT "GoodsTrainForecast_corridorId_fkey" FOREIGN KEY ("corridorId") REFERENCES "Corridor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CorridorAvailability" ADD CONSTRAINT "CorridorAvailability_corridorId_fkey" FOREIGN KEY ("corridorId") REFERENCES "Corridor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaintenanceBlock" ADD CONSTRAINT "MaintenanceBlock_planId_fkey" FOREIGN KEY ("planId") REFERENCES "BlockPlan"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaintenanceBlock" ADD CONSTRAINT "MaintenanceBlock_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "MaintenanceTask"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaintenanceBlock" ADD CONSTRAINT "MaintenanceBlock_corridorId_fkey" FOREIGN KEY ("corridorId") REFERENCES "Corridor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BlockConflict" ADD CONSTRAINT "BlockConflict_blockId_fkey" FOREIGN KEY ("blockId") REFERENCES "MaintenanceBlock"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

